<!DOCTYPE html>
 <html class="no-js"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Twitter Sentiment Analysis | @vinaychittora</title>
        <meta name="description" content="Twitter API example">
        <!-- Latest compiled and minified CSS -->
        {% block css %}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="/static/main.css">
        {% endblock css %}

    </head>
    <body>
  
        <div class="container">

            <h1>Twitter Sentiment Analysis</h1>
            <hr>

            {% block body %}{% endblock %}

            <footer>
                <hr>
                <a href="https://twitter.com/vinaychittora">@vinaychittora</a>.
                <br>
                Fork this example: <a href="https://github.com/vinaychittora/twitter-flask-sentiments">Github Repo</a>.
            </footer>
        </div> <!-- /container -->

        {% block bottom_js %}
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        {% endblock bottom_js %}
    </body>
</html>
